*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 36px 0 0 156px;
}

form {
  width: 360px;
  height: 230px;
}

.user-ms-login label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
  cursor: pointer;
}

input[type='number']:hover {
  border-color: #000;
}

input[type='number']:focus {
    border-color: #4e75ff;
    outline: none;
}

fieldset {
  width: 360px;
  height: 78px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 24px;
}

fieldset:hover {
    border-color: #000;
}

legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 28px;
  margin-bottom: 14px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
  padding-bottom: 8px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
  transition: 250ms ease;
}
