*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

h2 {
  color: #2e2f42;
  font-weight: 500;
}

a {
  color: #2e2f42;
  text-decoration: none;
}